
// Colors!
$color-navigation-bg = #232323
$heigh-navigation = 55px
$color-main = #306efe
$color-second = #2A326C

$color-contrast = #FFB600
$text-color = #333
$color-black = #232323


// Quicksand
@font-face
  font-family 'Quicksand'
  src url('../fonts/Quicksand/Quicksand-Light.ttf')
  format('truetype')
  font-weight 100, 200, 300

// OpenSans
@font-face
  font-family 'OpenSans'
  src url('../fonts/Open_Sans/OpenSans-Light.ttf')
  format('truetype')
  font-weight 100
  font-weight 200
  font-weight 300
@font-face
  font-family 'OpenSans'
  src url('../fonts/Open_Sans/OpenSans-Bold.ttf')
  format('truetype')
  font-weight 500
  font-weight 600
  font-weight 700

@font-face
  font-family 'OpenSans'
  src url('../fonts/Open_Sans/OpenSans-Bold.ttf')
  format('truetype')
  font-weight 500
  font-weight 600
  font-weight 700


// Indie Flower
@font-face
  font-family 'Indie Flower'
  src url('../fonts/Indie_Flower/IndieFlower.ttf')
  format('truetype')
  font-weight 500
  font-weight 600
  font-weight 700


// Indie Flower
@font-face
  font-family 'Roboto Slab'
  src url('../fonts/Roboto_Slab/RobotoSlab-Thin.ttf')
  format('truetype')
  font-weight 100
  font-weight 200
  font-weight 300
@font-face
  font-family 'Roboto Slab'
  src url('../fonts/Roboto_Slab/RobotoSlab-Light.ttf')
  format('truetype')
  font-weight 400
  font-weight 500
@font-face
  font-family 'Roboto Slab'
  src url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf')
  format('truetype')
  font-weight 600
  font-weight 700
@font-face
  font-family 'Roboto Slab'
  src url('../fonts/Roboto_Slab/RobotoSlab-Bold.ttf')
  format('truetype')
  font-weight 800
  font-weight 900

