.background-Section
    height: calc(100vh - 60px)
    min-height: 600px
    width: 100%
    position: relative
    overflow:hidden
    &#bg1
        background-image: linear-gradient(90deg, #111 0%, #555 100%)
    &#bg2
        background-image: linear-gradient(90deg, #111 0%, #323 100%)
    &#bg3
        background-image: linear-gradient(161deg, #000 0%,  #555 100%)
    &#bg4
        background-image: linear-gradient(12deg, #323 0%, #455 100%)