@import './_variables.styl'

#menu
  overflow: hidden;
  height: 0%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
.active-menu
  height 100%

.strip
  width: 100%
  height: 55px
  background: whitesmoke
  position: fixed
  top: 0
  left: 0
  z-index: 100
  box-shadow: 0 0 5px black
  transition: 0s all
  opacity: 0.95
  &.active
    background: $color-navigation-bg
    box-shadow: none


.overlay-navigation
  position: absolute;
  z-index: 10
  top 50px
  left: 0;
  width: 100%;
  height: calc(100% - 55px);
  overflow:hidden
  background-color: $color-navigation-bg
  ul.level1
    text-align: center
    text-decoration: none
    > li , span
      padding: 0
      font-size: 2rem
      color: #fff
      text-transform: uppercase
      font-family: 'Quicksand', sans-serif
      display: block
      font-weight: 100
      letter-spacing: 4px
      cursor: pointer
      padding: .5em .5em
      > .li-level1
        text-decoration: none
        color: #fff
        &:after
          content: '';
          display: block;
          width: 0;
          margin-top:10px
          height: 1px;
          background: lighten($color-main, 50%)
          transition: width .3s;
      &:hover
        > .li-level1
          color: lighten($color-main, 50%) !important
          &:after
            width: 100%;
        ul.level2
          li
            max-height: 100px
  ul.level2
    display: flex
    justify-content: center
    flex-direction: column;
    li
      transition: 1s all ease
      max-height: 0
      overflow: hidden
      padding: 0
      a
        font-size: 1.5em
        color: #fff
        text-transform: uppercase
        font-family: 'Quicksand', sans-serif
        display: inline-block
        font-weight: 100
        letter-spacing: 4px
        text-decoration: none
        padding: .6em .5em
        &:hover
          color: lighten($color-main, 50%) !important
          
for i in range(1, 5, 1)
  $x = i*0.2s
  nav li:nth-of-type({i})
    &.slide-in-nav-item
      animation: slide-in-nav-item 0.4s linear 1 $x both
    &.slide-in-nav-item-reverse
      animation: slide-in-nav-item-reverse .3s linear 1 0.1s both

@keyframes slide-in-nav-item
  from
    -webkit-transform: translateY($value_2);
    transform: translateY($value_2)
    opacity: 0
  to
    -webkit-transform: translateY($value_1);
    transform: translateY($value_1)
    opacity: 1
@keyframes slide-in-nav-item-reverse
  from
    -webkit-transform: translateY($value_1);
    transform: translateY($value_1)
    opacity: 1
  to
    -webkit-transform: translateY($value_2);
    transform: translateY($value_2)
    opacity: 0