$color-navigation-bg = #232323
$heigh-navigation = 55px
$color-main = #ff7e00
$color-second = #2A326C

$color-contrast = #306efe
$text-color = #333
$color-black = #232323


.overlay-navigation
  position: absolute;
  z-index: 10
  top 50px
  left: 0;
  width: 100%;
  height: calc(100% - 55px);
  overflow:hidden
  background-color: hsla(0, 0%, 0%, 0.8);
  ul.level1
    text-align: center
    text-decoration: none
    list-style-type: none
    > li , span
      padding: 0
      font-size: 2rem
      color: #fff
      text-transform: uppercase
      font-family: 'Quicksand', sans-serif
      display: block
      font-weight: 100
      letter-spacing: 4px
      cursor: pointer
      padding: .5em .5em
      > .li-level1
        text-decoration: none
        color: #fff
        &:after
          content: '';
          display: block;
          width: 0;
          margin-top:10px
          height: 1px;
          background: lighten($color-main, 50%)
          transition: width .3s;
      &:hover
        > .li-level1
          color: lighten($color-main, 50%) !important
          &:after
            width: 100%;
        ul.level2
          li
            max-height: 100px
