@import './_variables.styl'

#menu
  overflow: hidden;
  height: 0%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
.active-menu
  height 100%

.strip
  width: 100%
  height: 55px
  background: whitesmoke
  position: fixed
  top: 0
  left: 0
  z-index: 100
  box-shadow: 0 0 5px black
  transition: 0s all
  opacity: 0.95
  &.active
    background: $color-navigation-bg
    box-shadow: none


.overlay-navigation
  position: absolute;
  z-index: 10
  top 50px
  left: 0;
  width: 100%;
  height: calc(100% - 55px);
  overflow:hidden
  background-color: $color-navigation-bg
  ul.nav-level-1
    text-align: center
    text-decoration: none
    > li.nav-element-level-1
      padding: 0
      color: #fff
      text-transform: uppercase
      font-family: 'Quicksand', sans-serif
      display: block
      font-weight: 100
      letter-spacing: 4px
      cursor: pointer
      padding: 1em 1em
      > a, > span
        font-size: 2rem
        text-decoration: none
        color: #fff
        &:hover
          color: lighten($color-main, 20%)
          &:after
            width: 60%
        &:after
          content: ''
          display: block
          left: 20%
          width: 0
          margin-top:10px
          height: 1px
          background: lighten($color-main, 20%)
          transition: width .5s
          position: relative
        
    > li.nav-element-level-1.slide-in-nav-item.active
      span
        color: lighten($color-main, 20%)
      ul.nav-level-2
          li
            max-height: 100px

  ul.nav-level-2
    display: flex
    justify-content: center
    flex-direction: column;
    li.nav-element-level-2
      transition: 1s all ease
      max-height: 0
      overflow: hidden
      padding: 0
      a
        font-size: 1.5em
        color: #fff
        text-transform: uppercase
        font-family: 'Quicksand', sans-serif
        display: inline-block
        font-weight: 100
        letter-spacing: 4px
        text-decoration: none
        padding: .6em .5em
        &:hover
          color: lighten($color-main, 50%) !important
          
for i in range(1, 6, 1)
  $x = i*0.2s
  nav li:nth-of-type({i})
    &.slide-in-nav-item
      animation: slide-in-nav-item 0.4s linear 1 $x both
    &.slide-in-nav-item-reverse
      animation: slide-in-nav-item-reverse .3s linear 1 0.1s both

$value_2 = 20px
$value_1 = 0

@keyframes slide-in-nav-item
  from
    -webkit-transform: translateY($value_2);
    transform: translateY($value_2)
    opacity: 0
  to
    -webkit-transform: translateY($value_1);
    transform: translateY($value_1)
    opacity: 1
@keyframes slide-in-nav-item-reverse
  from
    -webkit-transform: translateY($value_1);
    transform: translateY($value_1)
    opacity: 1
  to
    -webkit-transform: translateY($value_2);
    transform: translateY($value_2)
    opacity: 0