@import url('https://fonts.googleapis.com/css?family=Indie+Flower')
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab')
@import './_variables.styl'


@import './typo.styl'
@import './icon.styl'
@import './footer.styl'
@import './Transition.styl'
@import './navigation.styl'

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
