// # https://github.com/reactjs/react-transition-group/tree/v1-stable Animation

.opacity-transition-appear {
  opacity: 0.01;
}

.opacity-transition-appear.opacity-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade50to100 {
  opacity: 0;
  animation: fade50to100 1s ease-in-out 3s forwards;
}


@keyframes fade50to100 {
  from {
    opacity: 0.2;

  }
  to {
    opacity: 1;

  }
}

