// main: ../main.styl
//- Mixin: Fluid Type
//
// Magic calc + vh to allow text to be fluid between minimum
// and maximum breakpoints.
// Read more here: https://madebymike.com.au/writing/precise-control-responsive-typography/

// Fluid Typo //
fluid-type($min-font-size = 12px, $max-font-size = 21px, $lower-range = 420px, $upper-range = 2500px)

  $f-dif = remove-unit($max-font-size - $min-font-size)
  $r-dif = remove-unit($upper-range - $lower-range)

  font-size: "calc(%s + %s * ( (100vw - %s) /  %s ))" % ($min-font-size $f-dif $lower-range $r-dif)

  @media screen and (max-width: $lower-range)
    font-size: $min-font-size

  @media screen and (min-width: $upper-range)
    font-size: $max-font-size



// Headlines //

h1
  font-weight: 100
  fluid-type(32px, 70px)

h2
  font-weight: 100
  fluid-type(28px, 60px)

h3
  font-weight: 100
  margin 0.7em 0 0.3em 0
  fluid-type(24px, 32px)
  &.subline
    &:hover
      color lighten($color-main, 70%)

h4
  font-weight: 100;
  margin 0
  fluid-type(18px, 24px)
  margin 0.7em 0 0.3em 0

// Comon Text //

p, figcaption
  fluid-type(14px, 18px)
  line-height 1.5em
  // text-align justify
  font-family "OpenSans", sans-serif
  font-weight 100
  &.space-after
    padding-bottom 1em

  &.two-columns
    @media desktop
      -webkit-column-count 2
      column-count 2
      -webkit-column-gap 40px /* Chrome, Safari, Opera */
      -moz-column-gap 40px /* Firefox */
      column-gap 40px

li
  fluid-type(14px, 18px)
  line-height var(--p-line-height)
  font-family "OpenSans", sans-serif
  font-weight 100
  padding 0.25rem 0 0.25rem 0


.awesome-headline-h1
  font-family: 'Quicksand', sans-serif !important
  text-transform: uppercase
  opacity 1
  margin 0
  text-transform uppercase
  font-weight 300
  fluid-type(44px, 100px)
  span
    font-size 0.5em
.awesome-headline-h2
  opacity 1
  background: whitesmoke
  fluid-type(20px, 32px)
  padding: 0.2em 1em
  margin: 0 0 0 1em
  position: relative
  font-weight: 100
  display: inline-block

br
  content: " ";
  display: block;
  margin-bottom: 0.7em;


h1,h2 {
  text-transform: uppercase;
  }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}
// .headline{
//     font-family: 'Roboto Slab', sans-serif;
//     text-transform: uppercase;
//     text-align: center;
// }
// .flower{
//     font-family: 'Indie Flower', cursive;
//     font-weight 400;
//     text-transform uppercase;
// }