// main: ../main.styl
//- Mixin: Fluid Type
//
// Magic calc + vh to allow text to be fluid between minimum
// and maximum breakpoints.
// Read more here: https://madebymike.com.au/writing/precise-control-responsive-typography/

// Fluid Typo //
fluid-type($min-font-size = 12px, $max-font-size = 21px, $lower-range = 420px, $upper-range = 2500px)

  $f-dif = remove-unit($max-font-size - $min-font-size)
  $r-dif = remove-unit($upper-range - $lower-range)

  font-size: "calc(%s + %s * ( (100vw - %s) /  %s ))" % ($min-font-size $f-dif $lower-range $r-dif)

  @media screen and (max-width: $lower-range)
    font-size: $min-font-size

  @media screen and (min-width: $upper-range)
    font-size: $max-font-size



// Headlines //

h1
  font-weight: 100
  fluid-type(28px, 100px)

h2
  font-weight: 100
  fluid-type(28px, 72px)

h3
  font-weight: 100
  margin 0
  fluid-type(24px, 42px)
  &.subline
    &:hover
      color lighten($color-main, 70%)

h4
  font-weight: 100;
  margin 0
  fluid-type(20px, 24px)
  &.margin-both
    margin 0.7em 0 0.3em 0

// Comon Text //

p, figcaption
  fluid-type(18px, 18px)
  line-height 1.5em
  text-align justify
  font-family "OpenSans", sans-serif
  font-weight 100
  &.space-after
    padding-bottom 1em

  &.two-columns
    @media desktop
      -webkit-column-count 2
      column-count 2
      -webkit-column-gap 40px /* Chrome, Safari, Opera */
      -moz-column-gap 40px /* Firefox */
      column-gap 40px

li
  fluid-type(12px, 16px)
  line-height var(--p-line-height)
  font-family "OpenSans", sans-serif
  font-weight 100
  padding 0.25rem 0 0.25rem 0


h1.awesome-headline
  font-family: 'Quicksand', sans-serif !important
  text-transform: uppercase
  opacity 1
  margin 0
  text-transform uppercase
  font-weight 300
  fluid-type(44px, 100px)
  span
    font-size 0.5em
h2.awesome-headline
  opacity 1
  background: whitesmoke
  fluid-type(20px, 32px)
  padding: 0.2em 1em
  margin: 0 0 0 1em
  position: relative
  font-weight: 100
  display: inline-block

#content-benifits
  a:hover
    i
      color darken($color-main, 40%)!important
      transform: rotate(135deg);
  i
    transition 0.4s

br
  content: " ";
  display: block;
  margin-bottom: 0.7em;

// span.highlight
//   color slategrey
//   font-weight bold
//
//
// h1.heading
//     text-transform: uppercase
//     color: #121212
//     letter-spacing: 0.7rem
//     text-decoration: none
//     display: block
//     text-align: center
//     font-size: 1.7rem
//     font-family: 'Work sans', sans-serif
//     font-weight: 300
//     @media desktop
//       font-size 4rem !important
//       letter-spacing: 1rem
//
//
//
// h1.heading-text, h2.heading-text, h3.heading-text, h4.heading-text
//   color: #121212
//   font-weight: 300;
//   text-align: center
//   text-decoration: none
//   display: block
//
//
// h1.heading-text
//   font-size: 2rem
//   letter-spacing: 0.4rem
//   @media desktop
//     font-size 4rem !important
//     letter-spacing: 1rem
//   text-transform: uppercase
//   font-family: 'Work sans', sans-serif
//
// h2.heading-text
//   font-size: 3.5rem
//   letter-spacing: 0.3rem
//   font-family: 'Quicksand', sans-serif;
//   text-transform uppercase
//   background-image linear-gradient(to right, #121212 0%, #343434 100%)
//   margin 0 0 0.3em 0
//   padding 0.1em 0
//   color whitesmoke
//   @media mobile
//     font-size: 1.5rem
//     padding 0.8em 0
//
//
// h3.heading-text
//   font-size: 1.5rem
//   letter-spacing: 0.3rem
//   font-family: 'Quicksand', sans-serif;
//   @media desktop
//     font-size: 2.2rem !important
//
// h4.heading-text
//   font-size: 1rem
//   letter-spacing: 0.2rem
//   font-family: 'Quicksand', sans-serif;
//   @media desktop
//     font-size: 1.5rem !important
