// # https://github.com/reactjs/react-transition-group/tree/v1-stable Animation

.opacity-transition-appear {
  opacity: 0.01;
}

.opacity-transition-appear.opacity-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
