{
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y",
    "react",
    "flowtype",
    "import"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true
    }
  }
}